@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Onest Variable', system-ui, sans-serif;
    font-display: swap;
  }
}

@layer components {
  .card {
    @apply rounded-2xl border-2 bg-lsurface p-3 shadow-md backdrop-blur-lg duration-500 hover:bg-opacity-60    dark:border-slate-900  dark:bg-slate-800 dark:text-dtext2 dark:hover:text-dtext1;
  }
  .time {
    @apply select-all font-mono uppercase;
  }
}

/*TEST CLASSES
section {
  border: 3px dashed green !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
article {
  border: 2px dashed red !important;
}
* {
  border: 2px solid rgba(0, 110, 255, 0.1) !important;
}

/*END TEST CLASSES*/
