@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Onest Variable', system-ui, sans-serif;
    font-display: swap;
  }
}

@layer components {
  .card {
    @apply rounded-2xl p-3 border-2 backdrop-blur-lg dark:border-dtext3 dark:border-opacity-30 shadow-md bg-lsurface bg-opacity-20  dark:bg-dsurface dark:text-dtext2 dark:hover:text-dtext1 hover:bg-opacity-60 duration-500;
  }
  .time {
    @apply uppercase font-mono select-all;
  }
}

/*TEST CLASSES
section {
  border: 3px dashed green !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
article {
  border: 2px dashed red !important;
}
* {
  border: 2px solid rgba(0, 110, 255, 0.1) !important;
}

/*END TEST CLASSES*/

.bg-coil {
  background-image: url('/bg_coil.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
}

.dark .bg-grid {
  background-image: url('/bg_grid.webp');
  z-index: -10;
  background-repeat: repeat;
  background-size: 360px 360px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
}
